.mainBanner {
	display: flex;
	align-items: center;
	padding: 6rem 1rem;
	gap: 2.5rem;
}
.textBanner {
	display: flex;
	flex-direction: column;
	gap: 1.625rem;
	align-items: flex-start;
	max-width: 768px;
}

.textBanner p {
	color: #555;
	font-size: clamp(1.3rem, 0.841vw + 1.101rem, 1.7rem);
}

.buttonBanner {
	border-radius: 62px;
	border: 2px solid #ff4081;
	display: inline-block;
	color: #ff4081;
	padding: 8px 26px;
	text-align: center;
	font-size: clamp(1.3rem, 0.841vw + 1.101rem, 1.7rem);
}

.mainBanner img {
	max-width: 450px;
	width: 80%;
}

.homeCursos {
	background: #f7f7f7;
	padding: 6.25rem 0;
}

.cardCurso h3 {
	color: #ff4081;
}

.cardCurso h3,
.cardCurso p {
	text-align: center;
}

.cardCurso {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.2rem;
	max-width: 480px;
	margin: 0 auto;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.2rem;
}

.buttonCards {
	background: #ff4081;
	border-radius: 62px;
	font-size: clamp(1rem, 0.526vw + 0.875rem, 1.25rem);
	padding: 8px 32px;
	color: #fff;
}

.cardCurso img {
	width: auto;
	height: 100%;
	max-height: 270px;
}

@media (max-width: 1025px) {
	.cards {
		grid-template-columns: 1fr;
		gap: 5rem;
	}
}

.aboutUs {
	padding: 6.25rem 15px;
}

.aboutUs h2 {
	color: #009688;
}

.cardAboutUs {
	display: flex;
	gap: 20px;
	align-items: center;
}

.textPerson {
	font-weight: 400;
}

.textAboutUs p {
	padding-bottom: 8px;
	font-weight: 300;
}

.allCards {
	padding-top: 3.2rem;
	display: grid;
	gap: 4em;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
	.mainBanner {
		flex-direction: column;
		align-items: center;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
	}
	h1,
	.textBanner p {
		text-align: center;
	}
	.textBanner {
		align-items: center;
	}

	.allCards {
		grid-template-columns: 1fr;
	}

	.aboutUs h2 {
		text-align: center;
	}
}
