/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;@400;700&display=swap"); */

/*************** Initial Adjustments ***************/
* {
	font-family: "Ubuntu", sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

h1 {
	font-size: clamp(2.5rem, 2.629vw + 1.877rem, 3.75rem);
	color: #ff4081;
}

h2 {
	font-size: clamp(1.85rem, 0.967vw + 1.621rem, 2.31rem);
}

h3 {
	font-size: clamp(1.75rem, 0.919vw + 1.532rem, 2.187rem);
}

h4 {
	font-size: clamp(1.25rem, 0.652vw + 1.095rem, 1.56rem);
}
h5 {
	font-size: clamp(1rem, 0.526vw + 0.875rem, 1.25rem);
}

p {
	font-size: clamp(0.93rem, 0.41vw + 0.833rem, 1.125rem);
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

/********************** Menu Bar  **********************/
header {
	background-color: #2e948a;
}

footer {
	background-color: #419488;
}
.navbar {
	font-size: 1.25rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	color: #fff;
}

.bottomBar .logo {
	padding: 40px 0;
}

.navbar a {
	color: #fff;
}

.menu {
	display: flex;
	gap: 1em;
}

.menu li:hover {
	background-color: #4c9e9e;
	border-radius: 5px;
	transition: 0.3s ease;
}

.menu li,
.menuBottom li {
	padding: 0px 20px;
	list-style-type: none;
}

.menu ul,
.menuBottom ul {
	padding: 0;
}

input[type="checkbox"] {
	display: none;
}
.hamburger,
.xIcon {
	display: none;
	font-size: 48px;
	/* user-select: none; */
}

.menuBottom li {
	padding-bottom: 8px;
}

.menuBottom a {
	font-size: clamp(1rem, 0.526vw + 0.875rem, 1.25rem);
	color: #fff;
}

.buttomSpace {
	display: flex;
	flex-direction: column;
	width: 280px;
	gap: 1rem;
}

.buttonBottom {
	border: 2px solid #ffffff;
	border-radius: 62px;
	font-size: clamp(1rem, 0.526vw + 0.875rem, 1.25rem);
	color: #fff;
	text-align: center;
	padding: 10px;
}

.bottomBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.logo img {
		max-width: 230px;
		width: 60vw;
	}

	.menu {
		display: none;
		position: absolute;
		background-color: #2e948a;
		right: 0;
		left: 0;
		text-align: center;
		padding: 40px 0;
	}
	.menu li:hover {
		display: inline-block;
		background-color: #4c9e9e;
	}
	.menu li {
		margin-top: 18px;
	}
	input[type="checkbox"]:checked ~ .menu {
		display: block;
	}

	input[type="checkbox"]:checked ~ .hamburger {
		display: none;
	}
	input[type="checkbox"]:checked ~ .xIcon {
		display: inline-block;
	}

	.hamburger {
		display: block;
	}

	.bottomBar {
		flex-direction: column;
		gap: 2rem;
	}

	.menuBottom li {
		text-align: center;
	}
}
